.screen{
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("https://img2.goodfon.com/wallpaper/nbig/f/7f/vo-vse-tyazhkie-breaking-bad-3520.jpg") center no-repeat;
  background-size: cover;
}